.features__list {
  display: flex;
  align-items: center;
}

.feature__item {
  display: flex;
  align-items: center;
  margin-right: rem(33px);
}

.feature__item-img {
  width: rem(37px);
  margin-right: rem(14px);
  fill: #fff;
}

.feature__item-text {
  font-weight: 700;
  font-size: rem(16px);
  line-height: rem(18px);
  max-width: rem(90px);
}