.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logo {
  flex-shrink: 0;
}

.logo__img {
  height: rem(40px);
  width: rem(56px);
  fill: white;
}

.menu {
  padding-top: rem(5px);
  margin: 0 rem(30px);

  @include tablets {
    display: none;
    padding: rem(135px) 0 rem(365px) 0;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: rem(22px);
  margin-bottom: rem(10px);
  font-weight: 700;
  font-size: rem(18px);
  font-style: normal;
  line-height: rem(28px);

  &:last-child {
    margin-right: rem(0px);
  }

  @include tablets {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.menu__link {
  white-space: nowrap;

  @include tablets {
    font-weight: 400;
    font-size: rem(36px);
    line-height: rem(72px);
  }
}

.contacts {
  padding-top: rem(8px);
}

.contacts__phone.header-contacts__phone {
  @include tablets {
    display: none;
  }
}

.contacts__phone {
  display: flex;
  font-weight: 700;
  font-size: rem(22px);
  line-height: rem(18px);
  align-items: center;
}

.contacts__phone-icon {
  flex-shrink: 0;
}

.contacts__phone-icon-img {
  width: rem(13px);
  height: rem(14px);
  margin-right: rem(5px);
  fill: white;
}

.contacts__phone-number {
  white-space: nowrap;
}