.hello {
  background: url(./images/img/back.png) center top no-repeat, #1968B1;
  filter: drop-shadow(rem(0px) rem(4px) rem(4px) rgba(0, 0, 0, 0.25));
  height: 100%;
  // height: 100vh;
  min-height: rem(652px);
  color: #fff;
  background-size: cover;

  @include tablets {
    background-position: right 15% top rem(91px);
    
  }
}

.hello__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(28px) rem(0px) rem(60px) rem(0px);
}

.hello__content {
  width: 52.2%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
}

.hello__title {
  font-weight: 700;
  font-size: rem(48px);
  line-height: rem(58px);
  margin-bottom: rem(17px);
  text-transform: uppercase;
  
  @include phones {
    font-size: rem(40px);
    line-height: rem(36px);
  }

}

.hello__subtitle {
  font-weight: 400;
  font-size: rem(21px);
  line-height: rem(25px);
  margin-bottom: rem(39px);

  @include phones {
    margin-bottom: rem(40px);
  }
}

.hello__features {
  @include tablets {
    display: none;
  }
}